@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.btns
{
    background-color: #2727d1;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.btns:hover
{
    background-color: darkblue;
}
.headers
{
    font-weight:normal;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
     font-optical-sizing: auto;
  
}
.baseBtn
{
     width: 2.5rem;
     height: 2.5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 0.5rem;
     box-shadow: 0 2px 4px rgba(0,0,0,0.1);
     transition: transform 0.2s ease-in-out;
}
.baseBtn:hover
{
    transform: scale(1.05);
}